.button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;

    &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }

    &:hover {
        background-color: #0056b3;
    }


    &--as-link {
        background: none;
        color: #1434A4;
        border: none;
        font: inherit;
        cursor: pointer;
        outline: inherit; 
    }
}