@import 'variables';

.link {
    color: $darkBlue;
    text-decoration: none;

    &--dark {
        color: $ligthBlue;
    }
}

.h1 {
    font-size: 20px;
}

.h2,
.h3 {
    font-size: 18px;
    font-weight: 600;
}

@media only screen and (min-width: $tablet) {
    .h1 {
        font-size: 24px;
    }

    .h2 {
        font-size: 20px;
    }

    .h3 {
        font-size: 18px;
    }
}