@import '../base/variables';

.navigation {
    background-color: $ligthBlue;
    border-bottom: 2px solid $lightGrey;
    padding: 12px 24px;

    ul {
        display: flex;
        list-style: none;

        li {
            margin-right: 12px;
        }
    }

    .button {
        display: flex;
        align-items: center;

        .icon {
            margin-right: 12px;
        }

        &.active {
            border-bottom: 1px solid $primary;
        }
    }

    @media only screen and (min-width: $tablet) {
        background-color: transparent;
        border-right: 2px solid $lightGrey;
        flex-shrink: 0;
        padding: 24px 0 0;
        width: 16%;

        ul { 
            flex-direction: column;

            li {
                margin-right: 0;
            }
        }

        .button {
            padding-left: 24px;
            padding-right: 24px;
            width: 100%;

            &:hover {
                background-color: $ligthBlue;
            }

            &.active {
                background-color: $ligthBlue;
                border-bottom: none;
            }
        }
    }
}