@import '../base/variables';

.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px auto 24px;
    max-width: 400px;
    font-size: 16px;

    &__totals-text {
        flex-grow: 1;
        text-align: center;
        margin: 0 10px;
    }

    &__button-text {
        display: none;
    }

    @media only screen and (min-width: $tablet) {
        &__button-text {
            display: inline;
        }
    }
}