@import '../base/variables';

.planets {
    min-height: calc(100vh - 186px);
    
    &__title {
        margin-left: 20px;
        margin-top: 20px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    @media only screen and (min-width: $tablet) {
        flex-grow: 1;
        min-height: calc(100vh - 120px);
     }
}